* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

html, body {
  height: 100%;
  font-family: inherit;
  background: inherit;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

.nav-effect::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg, transparent, #7fc447, transparent);
  background-size: 200% auto;
  animation: slide-line 2s linear infinite;
}

@keyframes slide-line {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

